* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
    min-width: 500px;
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces {
    border-radius: 0px;
    background-color: rgba(50, 50, 50, 0.7);
    margin-right: 5px;
    padding-right: 10px;
    border-radius: 0 15px 15px 0;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    /*border-top: 2px solid transparent;*/
}

#workspaces button:hover {
    font-weight: lighter;
    background-color: rgba(50, 50, 50, 0.9);
}

#workspaces button.visible{
    color: #fb9;
    /*border-top: 2px solid #c9545d;*/
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}




#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-media, #window, #clock, #battery, #backlight, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #temperature, #idle_inhibitor {
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 25px;
    padding: 3px 6px;
    margin: 0 5px;
}

#temperature {
    color: #f0932b;
}

#temperature.critical {
    -color: #eb4d4b;
}


#clock {
    color: #64727D;
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  color: #2ecc71;
}

#memory {
  color: #9b59b6;
}

#network {
  color: #2980b9;
}

#network.disconnected {
  color: #ffffff;
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-media {
    color: rgb(102, 220, 105);
}

#backlight {
    color: #90b1b1;  
}

#pulseaudio {
    color: #f1c40f;
}
 
#pulseaudio.muted {
    color: #90b1b1;
}

#tray {
}

#idle_inhibitor.activated {
  color: #ff6666
}
